    body {
    margin: 10px;
    background-color: rgb (255, 255, 255);
}

main {
    height: 500vh;
    margin: 10px;
}

.heading {
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 10px;
    /*
    margin-top: 10px;
    position: sticky; 
    top: 10px; 
    */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.card {
    max-width: 200px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    position: flex;
}

.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 100%;
    height: 100px;
    border: none;
    background-color: rgb(255, 255, 255, 255);
}

.btn:hover {
    border: 5px solid orange;
}

.btn--success {
    background-color: rgb#FFFFFF(255, 255, 255);
}

.btn--decline {
    background-color: rgb #EB9100 (235, 145, 0);
    margin: 20px 10px;
}

.first {
    /* transform: scale(1.5);
    transform: rotate(5 deg);
    transform: skew(10deg, 10deg);
    transform: translate(10px, 10px); */
}

.second {
    /* transform:scale (1.5);
     transform:rotate(5 deg);
     transform:skew(10 deg, 10deg);*/
    transform: translate(10px, 10 px);
}

.third {
    /*transform:scale ( 1.5);
       transform:rotate(5deg);
       transform: skew(10 deg, 10 deg);
       transform:translate(10px, 10px);

}
       .fourth {



              /*transform:scale(1.5);
              transform:rotate(5deg);
              transform:skew (10 deg, 10deg);
              transform:translate(10px, 10px);
       }




 .fifth {

      /*transform:scale(1.5);
      transform:rotate(5deg);
      transform:skew (10deg,10 deg);
      transform: translate(10px, 10px);


 }


         .sixth {

           /*transform:scale (1.2);
           transform:rotate (2.5 deg);
           transform:skew (5deg, 5deg);
           transform:translate(5px,5px);



}